.width{ /* Sentrerer teksten og skaper en marg */
  max-width: 1000px;
  text-align: center;
  margin: auto;
}

form{
  max-width: 600px; /* Skaper en fast bredde på formen */
  margin: 0 auto; /* Sentrerer skjemaet */
  padding-bottom: 30px; /* Skaper et mellomrom mellom reservasjonen og footeren */
}

.boxes{ /* Definerer de større input-boksene i reservasjonen */
  margin: 20px 0;
  text-align: center;
  max-width: 600px;
}

.smallboxes{ /* Definerer de mindre input-boksene i reservasjonen */
  max-width: 600px;
  display: inline-block;
}

label{
  display: block;
  padding-bottom: 10px;
  font-size: 20px;
}

input, select, textarea{
  border: 2px solid #777777; /* Definerer fargen på kanten rundt boksene */
  box-sizing: border-box; /* Total bredde og høyde på boksene */
  font-size: 20px; /* Skriftstørrelse i boksene */
  width: 100%; /* Gjør at boksene går fra venstre marg til høyre marg */
  padding: 10px; /* Definerer høyden på boksene */
  font-family: Barlow Semi Condensed; /* Fonttype i boksene */
}
select{
  -webkit-appearance:none;
  background-color: white;
  border-radius: 0px;
}
.smallboxWrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}
@media (max-width: 500px){
  .smallboxWrapper{
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
.smallboxes input{
  width: 100%; /* Hvor store 'Antall gjester', 'Ønsket tidspunkt' og 'Ønsket dato'-boksene er */
  height: 50px;
  display: inline-block; /* Gjør at elementene kan sitte ved siden av hverandre */
}

textarea{ /* Hvor stort område man kan skrive i 'Kommentar' */
  height: 200px;
}

hr{ /* Prikkete linje mellom de ulike delene i skjemaet*/
  border: 1px dotted #ccc;
}

button{ /* Design av Reservasjon-knappen */
  height: 50px;
  background: black;
  border: none;
  color: rgb(251,235,212);
  font-size: 20px;
  cursor: pointer;
  font-family: Barlow Semi Condensed;
}

button:hover{ /* Definerer rammen rundt Reservasjon-knappen */
  border: 3px solid rgb(251,235,212);
}

#italic{
  font-style: italic;
}

#link{ /* Setter fargen til svart (altså default fargen) */
  color: inherit;
}

@media (max-width: 330px){
  #Booking{
    line-height: 100%;
  }
}
