html{
  scroll-behavior: smooth;
}

body{
  margin: 0 auto;
  font-size: 20px;
}

.all{
  background-color: rgb(251, 235, 212);
  text-align: center;
  line-height: 170%;
  font-family: Barlow Semi Condensed;
}

#header{
  background-color: black;
  color: white;
  text-align: left;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header > img{ /* Plasserer menyen på lik høyde med logoen, og bestemmer avstanden mellom menyen og bildet */
  vertical-align: middle;
}

#header ul{ /* Gjør at topp-og bunn-margen følges*/
  display: inline-block;
}

#header ul > li{ /* Fjerner bullet points og listen legges vannrett */
  display: inline-block;
}

#header a{ /* Skaper mellomrom mellom punktene og fargen blir den samme som hvit (fargen satt i #header) */
  color: inherit;
  padding: 10px 25px;
}

#logo{ /* Plassering av logo */
  height: 90px;
}

.footer{
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  padding: 20px 50px;
  text-align: center;
  box-sizing: border-box;
}

.footer h3{
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 1px;
  margin-top: 20px;
}

.contactdetails{
  flex-grow: 2;
}

.contactdetails a{
  color: inherit;
}

.width{ /* Sentrerer teksten og skaper en marg */
  max-width: 600px;
  text-align: center;
  margin: auto;
}

form{
  width: 600px; /* Skaper en fast bredde på formen */
  margin: 0 auto; /* Sentrerer skjemaet */
  padding-bottom: 30px; /* Skaper et mellomrom mellom reservasjonen og footeren */
}

div.boxes{ /* Definerer de større input-boksene i reservasjonen */
  margin: 20px 0;
  text-align: center;
  width: 600px;
}

div.smallboxes{ /* Definerer de mindre input-boksene i reservasjonen */
  width: 196px;
  display: inline-block;
}

label{
  display: block;
  padding-bottom: 10px;
  font-size: 20px;
}

input, select, textarea{
  border: 2px solid #777777; /* Definerer fargen på kanten rundt boksene */
  box-sizing: border-box; /* Total bredde og høyde på boksene */
  font-size: 20px; /* Skriftstørrelse i boksene */
  width: 100%; /* Gjør at boksene går fra venstre marg til høyre marg */
  padding: 10px; /* Definerer høyden på boksene */
  font-family: Barlow Semi Condensed; /* Fonttype i boksene */
}

div.smallboxes input{
  width: 100%; /* Hvor store 'Antall gjester', 'Ønsket tidspunkt' og 'Ønsket dato'-boksene er */
  display: inline-block; /* Gjør at elementene kan sitte ved siden av hverandre */
}

textarea{ /* Hvor stort område man kan skrive i 'Kommentar' */
  height: 200px;
}

hr{ /* Prikkete linje mellom de ulike delene i skjemaet*/
  border: 1px dotted #ccc;
}

button{ /* Design av Reservasjon-knappen */
  height: 50px;
  background: black;
  border: none;
  color: rgb(251,235,212);
  font-size: 20px;
  cursor: pointer;
  font-family: Barlow Semi Condensed;
}

button:hover{ /* Definerer rammen rundt Reservasjon-knappen */
  border: 3px solid rgb(251,235,212);
}

h1{
  font-size: 60px;
}

#italic{
  font-style: italic;
}

#link{ /* Setter fargen til svart (altså default fargen) */
  color: inherit;
}
