html{
  scroll-behavior: smooth;
}

body{
  margin: 0 auto;
  font-size: 20px;
}

.all{
  background-color: rgb(251, 235, 212);
  text-align: center;
  line-height: 170%;
  font-family: Barlow Semi Condensed;
}

#header{
  background-color: black;
  color: white;
  text-align: left;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 382px){
  #header {
    flex-direction: column;
  }
}

#header > img{ /* Plasserer menyen på lik høyde med logoen, og bestemmer avstanden mellom menyen og bildet */
  vertical-align: middle;
}

#header ul{ /* Gjør at topp-og bunn-margen følges*/
  display: inline-block;
  padding: 0px;
}

#header ul > li{ /* Fjerner bullet points og listen legges vannrett */
  display: inline-block;
}

#header a{ /* Skaper mellomrom mellom punktene og fargen blir den samme som hvit (fargen satt i #header) */
  color: inherit;
  padding: 10px 25px;
}

#logo{ /* Plassering av logo */
  height: 90px;
}

h1{
  font-size: 60px;
  font-weight: normal;
  line-height: 100%;
}

h2{
text-align: center;
margin-top: 50px;
font-size: 32px;
}

#footer{
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  padding: 20px 50px;
  text-align: center;
  box-sizing: border-box;
}

#footer h3{
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 1px;
  margin-top: 20px;
}

@media (max-width: 800px){
  #footer {
    flex-direction: column;
  }
  
  #footer div {
    margin-bottom: 24px;
  }
}

#contactdetails{
  flex-grow: 2;
}

#contactdetails a{
  color: inherit;
}
