  .paragraph{
    max-width: 900px;
    text-align: center;
    margin: auto;
  }

  h2{
    margin-left: 100px;
    margin-right: 100px;
  }

  .smallimages{
    width: 350px;
    height: 250px;
  }
